<h2>Contacto</h2>
<div class="container">
  <form>
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label for="sex-input">Sexo</label>
          <select class="form-control" name="sex" id="sex-input">
            <option value="M">Masculino</option>
            <option value="F">Femenino</option>
            <option value="N/A">No especifica</option>
          </select>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="birthdate-input">Fecha de nacimiento</label>
          <input type="date" name="birthdate" id="birthdate-input" class="form-control"/>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="name-input">Nombre</label>
          <input name="name" id="name-input" class="form-control"/>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="lastname-input">Apellido</label>
          <input name="lastname" id="lastname-input" class="form-control"/>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="email-input">Correo</label>
          <input name="email" type="email" id="email-input" class="form-control" />
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="address-input">Direccion</label>
          <input name="address" id="address-input" class="form-control"/>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="detail-input">Casa/apartamento</label>
          <input name="address_detail" id="detail-input" class="form-control"/>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="country_select">Pais</label>
          <%= select_tag 'country',
                         options_for_select(@countries.map { |c| [c.name, c.id] }),
                         prompt: 'Select Country',
                         id: 'country_select',
                         name: 'country_id',
                         class: 'form-control'
          %>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="state_select">Estado</label>
          <%= select_tag 'state', '',
                         prompt: 'Select State',
                         id: 'state_select',
                         disabled: true,
                         name: 'state_id',
                         class: 'form-control'
          %>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="city_select">Ciudad</label>
          <%= select_tag 'city', '',
                         prompt: 'Select City',
                         id: 'city_select',
                         disabled: true,
                         name: 'city_id',
                         class: 'form-control'
          %>
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <label for="desc-input">Descripcion</label>
          <textarea name="description" class="form-control" id="desc-input" type="textarea"></textarea>
        </div>
      </div>
      <button class="btn btn-primary mt-3" type="button" onclick="onSubmit()">Enviar</button>
    </div>
  </form>
</div>



<script>
  const countrySelect = document.getElementById('country_select');
  const stateSelect = document.getElementById('state_select');
  const citySelect = document.getElementById('city_select');
  const submitButton = document.querySelector('button[type="submit"]');
  const form = document.querySelector('form');

  countrySelect.addEventListener('change', async () => {
    const countryId = countrySelect.value;

    if (countryId) {
        try{
            const response = await fetch(`/api/v1/countries/${countryId}/states`);
            const states = await response.json();
            console.log(states);

            states.forEach(state => {
                const option = document.createElement('option');
                option.value = state.id;
                option.text = state.name;
                stateSelect.add(option);
            });

            stateSelect.disabled = false;
        } catch (e) {
          console.log(e);
        }
    } else {
      stateSelect.innerHTML = '<option value="">Select State</option>';
      citySelect.innerHTML = '<option value="">Select City</option>';

      stateSelect.disabled = true;
      citySelect.disabled = true;
    }
  })

  stateSelect.addEventListener('change', async () => {
    const stateId = stateSelect.value;

    if (stateId) {
        try{
            const response = await fetch(`/api/v1/states/${stateId}/cities`);
            const cities = await response.json();
            console.log(cities);

            cities.forEach(city => {
                const option = document.createElement('option');
                option.value = city.id;
                option.text = city.name;
                citySelect.add(option);
            });

            citySelect.disabled = false;
        } catch (e) {
          console.log(e);
        }
    } else {
      citySelect.innerHTML = '<option value="">Select City</option>';
      citySelect.disabled = true;
    }
  })

  const onSubmit = async (event) => {
      const formData = new FormData(form);
      const data = Object.fromEntries(formData.entries());

      data.country_id = parseInt(data.country_id)


      try{
          const response = await fetch('/api/v1/contacts', {
              method: 'POST',
              headers: {
                  'Content-Type': 'application/json'
              },
              body: JSON.stringify(data)
          })

          const result = await response.json();
          console.log(result);

          if (response.status === 201) {
              alert('Contacto creado exitosamente');
          } else {
              alert('Error al crear contacto');
          }
      }catch (e) {
          console.log(e);
      }
  }
</script>