<div class="container mt-5">
  <div class="card text-center p-4">
    <h1 class="display-4">¡Bienvenido!</h1>
  </div>

  <div class="mt-4">
    <h2>¿Cómo usar?</h2>
    <ul class="list-group">
      <li class="list-group-item">Para usar la API REST puedes usar el link https://localhost:3000/api/v1 con los respectivos endpoints de consumo (Disponibles en swagger)</li>
      <li class="list-group-item">Consulta la <a href="/api-docs" target="_blank">documentación Swagger</a>.</li>
      <li class="list-group-item">Prueba la <a href="/web/demo" target="_blank">demo del frontend</a>.</li>
      <li class="list-group-item">Revisa la documentación para detalles adicionales.</li>
    </ul>
  </div>
</div>